body {
  font-family: Arial, sans-serif;
  background: #f3f5f7;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  max-width: 500px;
  margin: 50px auto;
  text-align: center;
}

h1 {
  color: #222;
}

.search-box {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 20px 0;
}

.search-box input {
  width: 65%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.search-box button {
  padding: 10px 18px;
  border: none;
  background: #0078ff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.search-box button:hover {
  background: #005fcc;
}

.error {
  color: red;
  font-size: 14px;
  height: 20px;
}

.card {
  background: white;
  padding: 20px;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.1);
  transition: 0.3s ease-in-out;
  opacity: 1;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.aqi {
  font-size: 40px;
  margin: 10px 0;
  font-weight: bold;
}

.badge {
  padding: 6px 12px;
  color: white;
  border-radius: 12px;
  font-size: 14px;
}

.details {
  margin-top: 15px;
  text-align: left;
  line-height: 1.6;
}
